{% extends 'login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="auth-page">
            <div class="container-fluid p-0">
                <div class="row g-0 align-items-center">
                    <div class="col-xxl-4 col-lg-4 col-md-6">
                        <div class="row justify-content-center g-0">
                            <div class="col-xl-9">
                                <div class="p-4">
                                    <div class="card mb-0">
                                        <div class="card-body">
                                            <div class="auth-full-page-content rounded d-flex p-3 my-2">
                                                <div class="w-100">
                                                    <div class="d-flex flex-column h-100">
                                                        <div class="mb-4 mb-md-5">
                                                            <a href="ucar.rnu.tn" class="d-block auth-logo">
															<img src="{{ asset('public/assets/images/logo-avila.png') }}" style="width:80%;margin-left: 8%;" alt="ucar">
														</a>
                                                        </div>
                                                        <div class="auth-content my-auto">
                                                            <div class="text-center">
                                                                <h5 class="mb-0">Welcome Back !</h5>
                                                                <p class="text-muted mt-2">Sign in to continue to summer program.</p>
                                                            </div>
                                                            <form class="mt-4 pt-2" method="post">
                                                                <div class="form-floating form-floating-custom mb-4">
                                                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                                                                    <label for="input-username">Username</label>
                                                                    <div class="form-floating-icon">
                                                                        <i data-eva="people-outline"></i>
                                                                    </div>
                                                                </div>
                        
                                                                <div class="form-floating form-floating-custom mb-4 auth-pass-inputgroup">
                                                                    <input type="password" name="password" id="inputPassword" class="form-control pe-5" autocomplete="current-password" placeholder="Enter Password" required>                                                                  
                                                                    <button type="button" class="btn btn-link position-absolute h-100 end-0 top-0" id="password-addon">
                                                                        <i class="mdi mdi-eye-outline font-size-18 text-muted"></i>
                                                                    </button>
                                                                    <label for="input-password">Password</label>
                                                                    <div class="form-floating-icon">
                                                                        <i data-eva="lock-outline"></i>
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        
                                                                <div class="row mb-4">
                                                                    <div class="col">
                                                                        <div class="form-check font-size-15">
                                                                            <input class="form-check-input" type="checkbox" id="remember-check">
                                                                            <label class="form-check-label font-size-13" for="remember-check">
                                                                                Remember me
                                                                            </label>
                                                                        </div>  
                                                                    </div>
                                                                    
                                                                </div>
                                                                <div class="mb-3">
                                                                    <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Log In</button>
                                                                </div>
                                                                </form>
                                                          
                        
                                                            <div class="mt-4 pt-3 text-center">
                                                                <div class="signin-other-title">
                                                                    <h5 class="font-size-14 mb-4 text-muted fw-medium">- Or you can join with -</h5>
                                                                </div>
    
                                                                <div class="d-flex gap-2">
                                                                    <button type="button" class="btn btn-soft-primary waves-effect waves-light w-100">
                                                                        <i class="bx bxl-facebook font-size-16 align-middle"></i> 
                                                                    </button>
                                                                    <button type="button" class="btn btn-soft-info waves-effect waves-light w-100">
                                                                        <i class="bx bxl-linkedin font-size-16 align-middle"></i> 
                                                                    </button>
                                                                    <button type="button" class="btn btn-soft-danger waves-effect waves-light w-100">
                                                                        <i class="bx bxl-google font-size-16 align-middle"></i> 
                                                                    </button>
                                                                </div>
                                                            </div>
                        
                                                            <div class="mt-4 pt-3 text-center">
                                                                <p class="text-muted mb-0">Don't have an account ? <a href="{{ path('app_register') }}"
                                                                    class="text-primary fw-semibold"> Signup now </a> </p>
                                                            </div>
                                                        </div>
                                                        <div class="mt-4 text-center">
														<p class="mb-0">©
															 <script>document.write(new Date().getFullYear())</script>
															Summer Program Student   . developed by
																														University of carthage</p>
													</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end auth full page content -->
                    </div>
                    <!-- end col -->
                    <div class="col-xxl-8 col-lg-8 col-md-6">
					<div class="auth-bg bg-white py-md-5 p-4 d-flex">
						<div class="bg-overlay bg-white"></div>
						<!-- end bubble effect -->
						<div class="row justify-content-center align-items-center">
							<div class="col-xl-8">
								<div class="mt-4">
									<img src="{{ asset('public/assets/images/form.jpg') }}" class="img-fluid" alt="">
								</div>
								<div class="p-0 p-sm-4 px-xl-0 py-5">
									<div id="reviewcarouselIndicators" class="carousel slide auth-carousel" data-bs-ride="carousel">
										<div class="carousel-indicators carousel-indicators-rounded">
											<button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
											<button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
											<button type="button" data-bs-target="#reviewcarouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
										</div>

										<!-- end carouselIndicators -->
										<div class="carousel-inner w-75 mx-auto">
											<div class="carousel-item active">
												<div class="testi-contain text-center">
													<h5 class="font-size-20 mt-4">“Dynamic Workshops & Interactive Sessions”
													</h5>
													<p class="font-size-15 text-muted mt-3 mb-0">
                                                     Dive into specialized topics with sessions designed to
spark creativity, foster innovation, and empower you with the skills to make an impact.
                                                    </p>
												</div>
											</div>

											<div class="carousel-item">
												<div class="testi-contain text-center">
													<h5 class="font-size-20 mt-4">“Exclusive Access to Global Thought Leaders”</h5>
													<p class="font-size-15 text-muted mt-3 mb-0">
 Learn directly from a curated lineup of internationally
acclaimed experts and professionals. This year’s camp features impressive speakers from various
sectors, including artificial intelligence, entrepreneurship, and sustainability.                                                    </p>
												</div>
											</div>

											<div class="carousel-item">
												<div class="testi-contain text-center">
													<h5 class="font-size-20 mt-4">“Startup Competition”</h5>
													<p class="font-size-15 text-muted mt-3 mb-0">
													 Showcase your ideas in our startup competition! Pitch in front of seasoned
entrepreneurs and stand a chance to win exciting prizes, including monetary awards and in-kind support.
                                                    </p>
												</div>
											</div>
										</div>
										<!-- end carousel-inner -->
									</div>
									<!-- end review carousel -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container fluid -->
        </div>
        <script>
        $(document).ready(function() {
    $('#password-addon').click(function() {
        var passwordField = $('#inputPassword');
        var fieldType = passwordField.attr('type');
        if (fieldType === 'password') {
            passwordField.attr('type', 'text');
        } else {
            passwordField.attr('type', 'password');
        }
    });
});
</script>

{% endblock %}
